* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f7;
    color: #1d1d1f;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, background 0.3s;
}

.header-hidden {
    transform: translateY(-100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-weight: 600;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #1d1d1f;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: black;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

#hero {
    height: 100vh;
    background: url(img/cat.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}

#hero h1 {
    font-size: 3.5rem;
    animation: fadeUp 1s ease;
}

#hero p {
    margin-top: 1rem;
    opacity: 0.8;
    animation: fadeUp 1.2s ease;
}

.cta-button {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    border: none;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.cta-button:hover {
    transform: scale(1.08);
}

#gatos {
    padding: 6rem 2rem;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.gatos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.gatos-card {
    background: white;
    border-radius: 20px;
    padding: 1rem;
    transition: 0.3s;
}

.gatos-card img {
    width: 100%;
    border-radius: 15px;
}

.gatos-card:hover {
    transform: translateY(-10px);
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/
.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}